<section>
	<h2>About me</h2>
	<p>As much as I love to talk about myself, I'll spare you the boredom and cut to the good stuff...</p>
	<p>I'm one of those lucky people that gets to do what he loves for a living. No joke, I honestly love designing and building stuff for the web. I wake up in the morning with thoughts of semantic markup in my head, and go to sleep thinking about how I can write more effecient Javascript functions.</p>
	<p>In 2013 I received my B.A. in Art and Technology from the University of Texas at Dallas. "Art and Technology?" you ask? Well, it's basically a vague name for one of the coolest media programs in the observable universe. It's probably easier for you to check it out yourself, if you want to get a feel for my experience there.</p>
	<p>I also love to make music. On my better days, I even resemble an actual musician.</p>
	<p>But more than most anything else, I like to build interfaces that will make peoples lives easier.</p>
</section>
