footer{
	text-align: center;

	> a{
		display: block;
		margin-bottom: 20px;
	}

	ul{
	    display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    list-style: none;

	    li{
	        flex-grow: 1;

	        a{
	            display: block;
	            text-align: center;
	        }
	    }
	}
}