footer{
	text-align: center;

	> a{
		display: block;
		margin-bottom: 20px;
		color: $orange;
	}

	ul{
	    display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    list-style: none;

	    li{
	        flex-grow: 1;

	        a{
	            display: block;
	            text-align: center;
	        }
	    }
	}
}

@media (max-width: 560px){
	footer{
		width: 45%;
		display: flex;
		flex-flow: column wrap;
		align-items: flex-end;

		ul{
			padding-left: 0;

			li{
				width: 30px;
				margin: 0 10px;
			}
		}
	}
}
