.sidebar{
    display: flex;
    justify-content: flex-start;
    flex: 0 0 30%;
    background: url('/img/lodyas.png');
    // background: #D3D3D3;

    header{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        padding: 20px 4%;

        .intro{

            > *{
                margin: 0 auto;
            }
            h1{
                color: $orange;
            }
            p{
                color: $white;
            }
        }

        nav{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
    }
}