.sidebar{
    display: flex;
    justify-content: flex-start;
    flex: 0 0 30%;
    background: url('/img/lodyas.png');
    // background: #D3D3D3;

    header{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        padding: 20px 4%;

        .intro{

            > *{
                margin: 0 auto;
            }
            h1{
                color: $orange;
            }
            p{
                color: $white;
            }
        }

        nav{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;

            a{
                min-width: 150px;
                padding: 10px 0;
                border-bottom: 1px $orange solid;
                color: $white;
            }
            a:last-child{
                border-bottom: 0;
            }
        }
    }
}
.subtitle{
    color: rgba(0,0,0,.65);
    font-size: .8rem;
}
.flex-title{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;

    > *:first-child{
        margin-right: 12px;
    }

    > *{
        margin: 0;
    }
}
